.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    flex-shrink: 0;
}

.main {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}