.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    height:10vh;
    padding-left:50px;
}

.logo{
    margin:10px;
    font-size: 24px;
    font-weight: bold;
    width:25%;
    color:red;
    /* padding: auto; */
}
.user{
    font-size: 18px;
    font-weight: bold;
    width:25%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-left: 50px;
}
.search{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
}